In [1]:
from sklearn.datasets import load_breast_cancer

In [8]:
cancer=load_breast_cancer()

In [9]:
import pandas as pd
import numpy as np
df_cancer=pd.DataFrame(cancer.data)

In [10]:
df_cancer

,0,1,2,3,4,5,6,7,8,9,...,20,21,22,23,24,25,26,27,28,29
0,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.30010,0.14710,0.2419,0.07871,...,25.380,17.33,184.60,2019.0,0.16220,0.66560,0.7119,0.2654,0.4601,0.11890
1,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,0.1812,0.05667,...,24.990,23.41,158.80,1956.0,0.12380,0.18660,0.2416,0.1860,0.2750,0.08902
2,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,0.2069,0.05999,...,23.570,25.53,152.50,1709.0,0.14440,0.42450,0.4504,0.2430,0.3613,0.08758
3,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,0.2597,0.09744,...,14.910,26.50,98.87,567.7,0.20980,0.86630,0.6869,0.2575,0.6638,0.17300
4,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,0.1809,0.05883,...,22.540,16.67,152.20,1575.0,0.13740,0.20500,0.4000,0.1625,0.2364,0.07678
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
564,21.56,22.39,142.00,1479.0,0.11100,0.11590,0.24390,0.13890,0.1726,0.05623,...,25.450,26.40,166.10,2027.0,0.14100,0.21130,0.4107,0.2216,0.2060,0.07115
565,20.13,28.25,131.20,1261.0,0.09780,0.10340,0.14400,0.09791,0.1752,0.05533,...,23.690,38.25,155.00,1731.0,0.11660,0.19220,0.3215,0.1628,0.2572,0.06637
566,16.60,28.08,108.30,858.1,0.08455,0.10230,0.09251,0.05302,0.1590,0.05648,...,18.980,34.12,126.70,1124.0,0.11390,0.30940,0.3403,0.1418,0.2218,0.07820
567,20.60,29.33,140.10,1265.0,0.11780,0.27700,0.35140,0.15200,0.2397,0.07016,...,25.740,39.42,184.60,1821.0,0.16500,0.86810,0.9387,0.2650,0.4087,0.12400
568,7.76,24.54,47.92,181.0,0.05263,0.04362,0.00000,0.00000,0.1587,0.05884,...,9.456,30.37,59.16,268.6,0.08996,0.06444,0.0000,0.0000,0.2871,0.07039

In [14]:
url = "https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/breast-cancer-wisconsin.data"
data = pd.read_csv(url, header=None)
print('columns in dataset:')
print(data.columns)

columns in dataset:
Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10], dtype='int64')

In [15]:
print("Statistical information of the dataset:")
print(data.describe())

Statistical information of the dataset:
                 0           1           2           3           4   \
count  6.990000e+02  699.000000  699.000000  699.000000  699.000000
mean   1.071704e+06    4.417740    3.134478    3.207439    2.806867
std    6.170957e+05    2.815741    3.051459    2.971913    2.855379
min    6.163400e+04    1.000000    1.000000    1.000000    1.000000
25%    8.706885e+05    2.000000    1.000000    1.000000    1.000000
50%    1.171710e+06    4.000000    1.000000    1.000000    1.000000
75%    1.238298e+06    6.000000    5.000000    5.000000    4.000000
max    1.345435e+07   10.000000   10.000000   10.000000   10.000000

               5           7           8           9           10
count  699.000000  699.000000  699.000000  699.000000  699.000000
mean     3.216023    3.437768    2.866953    1.589413    2.689557
std      2.214300    2.438364    3.053634    1.715078    0.951273
min      1.000000    1.000000    1.000000    1.000000    2.000000
25%      2.000000    2.000000    1.000000    1.000000    2.000000
50%      2.000000    3.000000    1.000000    1.000000    2.000000
75%      4.000000    5.000000    4.000000    1.000000    4.000000
max     10.000000   10.000000   10.000000   10.000000    4.000000

In [16]:
# describe the ship of the data site
print("Shape of the dataset:", data.shape)

Shape of the dataset: (699, 11)

In [17]:
#5-Display the number of missing values in each column
print("Number of missing values in each column:")
print(data.isnull().sum())

Number of missing values in each column:
0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
dtype: int64

In [30]:
import numpy as np
import pandas as pd  # Ensure you import pandas if you're working with DataFrames

# Assuming 'data' is already defined as a DataFrame
data = data.replace('?', np.nan)  # Replace '?' with NaN

print('number of instances=%d' % (data.shape[0]))  # Number of rows
print('number of attributes=%d' % (data.shape[1]))  # Number of columns

print('number of missing values=')
for col in data.columns:
    # Use isna() to count NaN values
    missing_count = data[col].isna().sum()  
    print('\t%s:%d' % (col, missing_count))

number of instances=699
number of attributes=11
number of missing values=
	0:0
	1:0
	2:0
	3:0
	4:0
	5:0
	6:16
	7:0
	8:0
	9:0
	10:0

In [32]:
# Choose the specific column to fill missing values
column_names = [
    "Sample code number", "Clump Thickness", "Uniformity of Cell Size",
    "Uniformity of Cell Shape", "Marginal Adhesion", "Single Epithelial Cell Size",
    "Bare Nuclei", "Bland Chromatin", "Normal Nucleoli", "Mitoses", "Class"
]

# Display the values before filling missing values
print("Values before filling missing values:")
print(data[column_name].head(10))  # Display first 10 values for brevity

# Calculate the median of the column
median_value = data[column_name].median()

# Fill missing values with the median
data[column_name].fillna(median_value, inplace=True)

# Display the values after filling missing values
print("\nValues after filling missing values:")
print(data[column_name].head(10))  # Display first 10 values for brevity

Values before filling missing values:

NameError: name 'column_name' is not defined